.banner {
    position: relative;
    text-align: center;
    margin-top: 20px;
    img {
        display: inline-block;
        width: 90%;
        height: 223px;
        border-radius: 25px;
        filter: brightness(0.8);
        object-fit: cover;
    }
    h1 {
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 500;
        font-size: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .banner {
        h1 {
            font-size: 30px;
        }
    }
  }

@media screen and (max-width: 600px) {
    .banner {
        img {
          height: 111px;
          width: 87%;
          border-radius: 7px;
        }
        h1 {
            font-size: 22px;
            width: 37%;
            left: 29%;
            text-align: start;
        }
    }
  }