.carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: hidden;
    img {
        border-radius: 10px;
        width: 90%;
        height: 415px;
        margin: 0 auto;
        object-fit: cover;
        margin-bottom: 15px;
        position: relative;
    }
    .carousel-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
        .carousel-control {
          background: none;
          border: none;
          cursor: pointer;
          pointer-events: all;
          position: absolute;
          img {
            width: 40px;
            height: 60px;
          }
        }
        .carousel-control:first-child {
          left: 0;
          margin-left: 10px;
          color: red;
        }
        .carousel-control:last-child {
          right: 0;
          margin-right: 10px;
        }
      }
}

@media screen and (max-width: 599px) {
  .carousel {
      img {
        height: 255px;
      }
      .carousel-controls {
        .carousel-control {
          img {
            width: 20px;
            height: 30px;
          }
        }
      }
  }
}