.carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: hidden;
    img {
        border-radius: 10px;
        width: 90%;
        height: 415px;
        margin: 0 auto;
        object-fit: cover;
        margin-bottom: 15px;
        position: relative;

        @media screen and (max-width: 600px) {
            height: 255px;
            margin-top: 15px;
        }
    }
    .carousel-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
        .carousel-control {
            background: none;
            border: none;
            cursor: pointer;
            pointer-events: all;
            position: absolute;
            img {
                width: 40px;
                height: 60px;

                @media screen and (max-width: 600px) {
                    width: 20px;
                    height: 30px;
                }
            }
        }
        .carousel-control:first-child {
            left: 0;
            margin-left: 10px;
        }
        .carousel-control:last-child {
            right: 0;
            margin-right: 10px;
        }
    }
    .image-counter {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }  
}