.bannerAbout {
    text-align: center;
    margin-top: 20px;
    img{
        width: 90%;
        height: 223px;
        border-radius: 25px;
        filter: brightness(0.8);
        object-fit: cover;

        @media screen and (max-width: 600px) {
            border-radius: 7px;
        }
    }
}