.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 209px;
    padding-top: 50px;
    img {
        
        @media screen and (max-width: 600px) {
            width: 122px;
            height: 40px;     
        }

    }
    p {
        color: white;
        
        @media screen and (max-width: 600px) {
            width: 47%;
            text-align: center;
        }
        
    }
}