@use '../../utils/style/colors';

.allCollapse {
    margin-top: 50px;
    margin-bottom: 50px;

    .noData {
        display: flex;
        justify-content: center;
        font-weight: 700;
        color: colors.$main-color;
    }
    
    .collapse {
        width: 100%;
        .header {
            width: 75%;            

            @media screen and (max-width: 768px) {
                width: 90%;
            }
        }
        .content {
          height: 80px;
          width: 75%;
          margin: 0 auto;
          display: flex;
          align-items: center;        
          transition: max-height 0.3s ease-in-out, visibility 0.3s linear, opacity 0.3s;

          @media screen and (max-width: 768px) {
              width: 90%;
              transition: max-height 0.3s ease-in-out, visibility 0.3s linear, opacity 0.04s;
          }
        }
        &.open .content{
            max-height: 240px;
            transition: max-height 0.3s ease-in-out, visibility 0.3s linear 0.1s, opacity 0.3s;

          @media screen and (max-width: 768px) {
              height: auto;
              padding-top: 7px;
              padding-bottom: 7px;
              transition: max-height 0.3s ease-in-out, visibility 0.3s linear 0.1s, opacity 1s;
          }
        }     
    }
}


